* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  background-color: antiquewhite;
}

.content {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.body.error .telef {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.player {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 74%;
  left: 50%;
  z-index: 2;
}

.player-img {
  width: 100%;
  height: 100%;
  background-image: url(/img/imgonline-com-ua-BigPicture-huwcdRLyje89.png);
  background-size: 100% 100%;
}

.enemy {
  background-color: green;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
}

.enemy-img {
  width: 100%;
  height: 100%;
}

.telef {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.telef-img {
  width: 100%;
  height: 100%;
}

.player.shoot {
  -webkit-animation: shoot 0.3s;
          animation: shoot 0.3s;
}

@-webkit-keyframes shoot {
  to {
    background: url(/img/imgonline-com-ua-BigPicture-fkztaQJfFOUSo3.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
}

@keyframes shoot {
  to {
    background: url(/img/imgonline-com-ua-BigPicture-fkztaQJfFOUSo3.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
}

.wrapper {
  cursor: url("/img/red-crosshair-png-8.cur"), auto;
}

body {
  cursor: url("/img/red-crosshair-png-8.cur"), auto;
}
